body
{

font-family: Arial; background-color:#f2f2f2;
}


header
{

background:linear-gradient( to right,
beige, silver, lightblue, lightgreen, lightyellow,lightcoral);
color:white;
text-align:center; padding:30px;
}



section
{

background:white; margin:20px; padding:20px; border-radius:10px;

}



table
{

width:100%;

border-collapse:collapse;
}



th,td
{

border:1px solid black; padding:10px;
}


button
{

background:rgb(104, 104, 148); color:white; padding:10px; border:none;
}





